In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import svm

In [2]:
iris = pd.read_csv(r'C:\Users\gixi_\Ironhack\DAFT_212\module_3\Lab_3_Data-Cleaning-Challenge/iris-data.csv')
iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
iris.dtypes

sepal_length_cm    float64
sepal_width_cm     float64
petal_length_cm    float64
petal_width_cm     float64
class               object
dtype: object

In [4]:
iris.isnull().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [5]:
iris_fixed = iris.interpolate(inplace = False)
iris_fixed.isnull().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
class              0
dtype: int64

In [7]:
iris_fixed['class'].unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

In [11]:
iris_fixed['class'] = np.where(iris_fixed['class']=='versicolor', 'Iris-versicolor',iris_fixed['class'])

In [14]:
class_list = iris_fixed['class'].unique().tolist()

['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'Iris-virginica']

In [15]:
iris_fixed_class = pd.get_dummies(iris_fixed["class"])
iris_fixed_class

     Iris-setosa  Iris-setossa  Iris-versicolor  Iris-virginica
0              1             0                0               0
1              1             0                0               0
2              1             0                0               0
3              1             0                0               0
4              1             0                0               0
..           ...           ...              ...             ...
145            0             0                0               1
146            0             0                0               1
147            0             0                0               1
148            0             0                0               1
149            0             0                0               1

[150 rows x 4 columns]

In [16]:
iris_fixed = iris_fixed.join(iris_fixed_class)
iris_fixed

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class,Iris-setosa,Iris-setossa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,1,0,0,0
1,4.9,3.0,1.4,0.2,Iris-setosa,1,0,0,0
2,4.7,3.2,1.3,0.2,Iris-setosa,1,0,0,0
3,4.6,3.1,1.5,0.2,Iris-setosa,1,0,0,0
4,5.0,3.6,1.4,0.2,Iris-setosa,1,0,0,0
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0,0,0,1
146,6.3,2.5,5.0,2.3,Iris-virginica,0,0,0,1
147,6.5,3.0,5.2,2.0,Iris-virginica,0,0,0,1
148,6.2,3.4,5.4,2.3,Iris-virginica,0,0,0,1
149,5.9,3.0,5.1,1.8,Iris-virginica,0,0,0,1